<div class="page-header">
  <h1>掲示板へようこそ</h1>
</div>

<div class='list-group'>
  <% @boards.each do |board| %>
    <%= content_tag :a, href: board_path(board), class: 'list-group-item' do %>
      <div class='list-group-item-heading'>
        <%= board.title %>
        <%= content_tag :span, board.comments.size, class: 'badge' %>
      </div>
      <p class='list-group-item-text'>
        <%= board.comments.first.text %>
      </p>
    <% end %>
  <% end %>
  <%= paginate @boards %>
</div>
