<% btn_name = @category ? '更新' : '追加' %>

<%= form_for(@category, class: 'form-horizontal', role: 'form') do |f| %>
  <% if @category.errors.any? %>
    <div class='alert alert-danger'>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.submit btn_name, class: 'btn btn-info btn-lg' %>
  <% if @category.persisted? %>
    <%= link_to '削除', category_path(@category), method: :delete, class: 'btn btn-danger btn-lg', data: { confirm: '本当に削除しますか？' } %>
  <% end %>
  <%= link_to 'キャンセル', categories_path, class: 'btn btn-default btn-lg' %>
<% end %>
