<%= form_for(@category, class: 'form-horizontal', role: 'form') do |f| %>
  <% if @category.errors.any? %>
    <div class='alert alert-danger'>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.submit '追加', class: 'btn btn-info btn-lg' %>
  <%= link_to 'キャンセル', categories_path, class: 'btn btn-default btn-lg' %>
<% end %>
